{% extends 'cursos/base.html' %}
{% block title %}Lista de Cursos{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p>¡Bienvenido de nuevo, {{ user.username }}!</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %} 
        <button type="submit" class="">Cerrar Sesión</button>
      </form>
{% else %}
    <p>Por favor, <a href="{% url 'login' %}">inicia sesión</a> para acceder a más funciones.</p>
{% endif %}
<h1>Lista de cursos</h1>
    <ul>
        {% for curso in cursos %}
            <li><a href="{% url 'detalleCurso' pk=curso.pk %}">{{curso}}</a></li>
        {% empty %}
            <p>Todavia no hay datos añadidos.</p>
        {% endfor %}
    </ul>
    <button><a href="{% url 'newCurso' %}">Crear curso</a></button>
{% endblock %}